

@model bidersGo.Application.Features.Commands.TeacherDelete.TeacherDeleteCommandRequest
<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        <div>
                                            <a href=@Url.Action("Index", "Dashboard") class="">
                                                @*<img src="~/assets/images/logo-dark.png" alt="" height="20" class="auth-logo logo-dark mx-auto">
                                                <img src="~/assets/images/logo-light.png" alt="" height="20" class="auth-logo logo-light mx-auto">*@
                                            </a>
                                        </div>

                                        <h4 class="font-size-18 mt-4">Öğretmen Silme Ekranına </h4>
                                        <p class="text-muted">Hoşgeldiniz</p>
                                        
                                    </div>

                                    <div class="p-2 mt-5">
                                        <form method="post" asp-controller="Home" asp-action="DeleteTeacher">
                                            <div>
                                                
                                                    <select id="selectTeacher" class="form-control select2 select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option data-select2-id="3">Lutfen Ogretmen Seciniz</option>
                                                        @foreach (var item in ViewBag.Ogretmenler)
                                                        {
                                                            <option value="@item.Id"> @item.Name @item.Surname </option>
                                                        }

                                                    </select>
                                                  
                                                    <input type="hidden" asp-for="Id" value="" id="Id" />

                                            </div>

                                            <hr />
                                            <div class="text-center">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Delete</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <p class="mb-0">By registering you agree to the BiDersGO <a href="#" class="text-primary">Terms of Use</a></p>
                                            </div>
                                        </form>
                                            </div>

</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="authentication-bg position-relative">
                    <div class="bg-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        var selectedTeacher = $("#selectTeacher");
        var changeTeacherName = $("#Id");
       
        
        selectedTeacher.on("change", function () {


            changeTeacherName.attr("value", selectedTeacher.val());
            console.log(selectedTeacher.val());

        });
       

    </script>
}
