<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @await Html.PartialAsync("~/Views/Shared/_head_css.cshtml")

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.5/css/dx.light.css">
</head>
<body data-sidebar="dark">
    <div id="layout-wrapper">

        @await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_sidebarAdmin.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    @await Html.PartialAsync("~/Views/Shared/_page_title.cshtml")

                    @RenderBody()

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")

        </div>
        <!-- end main content-->

    </div>

    @RenderSection("externalhtml", required: false)

    @await Html.PartialAsync("~/Views/Shared/_right_sidebar.cshtml")

    
    @RenderSection("scripts", required: false)
</body>
</html>

